@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #9c7979;
}

.container{
    width: 540px;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container .product{
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .product .image{
    width: 500px;
    height: 457px;
    margin: auto;
}

.container .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container .product .color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.container .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #9c7979;
    cursor: pointer;
    position: relative;
}

.container .product .color .cam2{
    background: #250f63;
}

.container .product .color .cam3{
    background: #37373b;
}

.container .product .color .cam4{
    background: #ae820a;
}

.container .product .color .cam5{
    background: #8a0808;
}

.container .product .color .cam1{
    background: #9c7979;
}

.container .product .color .active::after{
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    left: -3px;
    top: -3px;
}

.container .product .title{
    font-size: 22px;
    text-align: center;
}

.container .product .detail{
    text-align: center;
}

.container .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container .product .detail p span{
    color: #9c7979;
}

.container .product .detail a{
    text-decoration: none;
    background: #9c7979;
    padding: 8px 45px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}
