
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {

margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family: 'playfair display';
}
#menu-h{
    background-color:rgb(32, 35, 40);
}

#menu-h ul{
max-width: 800px;
list-style: none;
padding: 0;
background-color:rgb(32, 35, 40);
}

#menu-h ul li{

display: inline;

}

#menu-h ul li a{

color:#fff;
padding: 30px;
text-decoration: none;
display: inline-block;
transition: background .4s;

}

#menu-h ul li a:hover{

    background-color:#ee8b1a;
       
    }

    #menu-h ul li:last-child a {

      float: right;
      background-color:rgb(243, 243, 103);
      color: black;
        }

        #menu-h ul li:last-child a:hover{
            background-color:#ee8b1a;
        } 

#fundo {
  background-image: url(blackwhite.jpg);
  background-size: 1080px 730px;
  background-position: left top;
  background-repeat: no-repeat;
  padding: 200px;

}
    
body{

   background-color: rgb(214, 122, 127); 
    
}
